<section class="main-section">
    <form class="shadow layer rounded-xl p-8 w-lg mx-auto border-emerald-300 border-3 my-5" [formGroup]="loginForm"
        (ngSubmit)="login()">

        <div class="mb-5">
            <label for="email" class="block mb-1 text-main font-semibold">Email</label>
            <input type="text" id="email" formControlName="email" placeholder="Ex: email@provider.com"
                class="w-full px-3 py-2 border border-main-color rounded focus:outline-none focus:border-green-600 bg-white text-gray-900" />
            @if(loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email'))
            {
            <p class="text-red-950 bg-red-400 border-red-500 border-2 p-1 text-center rounded-2xl mt-1"> Please provide
                a valid email
            </p>
            }
        </div>
        <div class="mb-5">
            <label for="password" class="block mb-1 text-main font-semibold">Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Ex: Password Here"
                class="w-full px-3 py-2 border border-main-color rounded focus:outline-none focus:border-green-600 bg-white text-gray-900" />
            @if(loginForm.get('password')?.touched && loginForm.get('password')?.invalid)
            {
            <p class="text-red-950 bg-red-400 border-red-500 border-2 p-1 text-center rounded-2xl mt-1"> Please provide
                a valid password
            </p>
            }
        </div>

        <button [disabled]="loginForm.invalid" class="btn-main w-full">Login</button>

        <h5 class="text-center text-md my-3">Don't have an account? <a class="text-blue-600 hover:underline"
                routerLink="/register">Register
                Here</a></h5>
    </form>
</section>