<div class="main-section">
    <div class=" bg-gray-200 p-2">
        <div class="my-container">
            <h1 class="text-center text-4xl text-emerald-400">All Products</h1>

            <div class="text-center mt-4">
                <input [(ngModel)]="searchInput" type="text"
                    class="text-center rounded-2xl focus:border-emerald-400 focus:border-1 p-2"
                    placeholder="search product">
            </div>
            <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 mt-1">
                @for (product of products | searchPipe : searchInput; track product._id) {
                <app-card [product]="product" />
                }
            </div>

        </div>
    </div>

    <div class="flex justify-center items-center">

        <div class="px-2">
            <button class="p-3 bg-[var(--main-color)] cursor-pointer disabled:bg-gray-600 hover:bg-emerald-500 "
                (click)="prevBtn()" [disabled]="pageNumber==1">← Previous</button>
        </div>
        <div class="px-2">
            <button class="p-3 bg-[var(--main-color)] cursor-pointer disabled:bg-gray-600 hover:bg-emerald-500 "
                (click)="nextBtn()" [disabled]="pageNumber==2">Next →</button>
        </div>
    </div>
    <p class="text-center mt-2">Page: {{pageNumber}}</p>
</div>