<section class="main-section">
    <div class="my-container">
        <h1 class="text-center text-2xl font-black text-[var(--main-color)]">Your Wishlist</h1>


        @for (item of wishProduct; track item._id) {
        <div class="flex flex-wrap justify-between items-center shadow-lg">
            <div class="w-full md:w-1/6 my-2">
                <img [src]="item.imageCover" class="w-full block" [alt]="item.title">
            </div>
            <div class="w-full md:w-2/4 my-2">
                <h3>Title: {{item.title}}</h3>
                <h4>Price:{{item.price}}</h4>

                <!-- to do this button -->
                <!-- <h5 class="cursor-pointer text-red-500 mt-3 p-0 hover:p-2 w-fit" (click)="removeItem(item.product._id)">
                    Remove From Cart <i class="fa fa-trash-can"></i></h5> -->

            </div>
        </div>
        }
    </div>
</section>